<div class="display-3">
    <template>
        <v-card
                @click.stop="showDialog"
                @click="updateCurrentData(); isCardModeratable = false"
                class="mx-auto rounded-xl"
                color="white"
                max-width="1200"
                max-height="700"
                outlined
        >
            <v-img
                    :src=item.icon
                    height="550px"
            ></v-img>
        <v-row justify="center">
            <v-card-title color="deep-purple accent-4">
                [[ item.name ]]
            </v-card-title>
        </v-row>
        </v-card>

    </template>
</div>
