<div class="display-3">
    <template>
        <v-card
                @click.stop="showDialog"
                @click="updateCurrentData(); updateCurrentImagesList(); isCardModeratable = false"
                class="mx-auto"
                max-width="1200"
                max-height="700"
        >
            <v-img
                    :src="currentProjectAvatar.src"
                    height="550px"
            ></v-img>

            <v-card-title>
                [[ item.name ]], [[ i ]]
            </v-card-title>

        </v-card>

    </template>
</div>
