<v-dialog
        v-model="dialogAdd"
        max-width="1000"
        height="75%"
        style="height: 100px"
>
    <div class="d-flex justify-center">
        <v-card style="width: 1000px; overflow:  hidden;" elevation="2" class="grey lighten-4">
            <v-card-title class="grey lighten-3">

                <v-row class="my-0 mx-3">
                    <v-text-field
                            name="currentAddName"
                            label="Название"
                            v-model="currentAddName"
                            color="grey"
                    ></v-text-field>
                </v-row>
            </v-card-title>
            <v-row class="mx-2 my-1 text-center" max-height="100px">
                <v-col>
                    <v-row class="my-0 mx-3">
                        <v-text-field
                            name="currentAddDescription"
                            label="Краткое описание"
                            v-model="currentAddDescription"
                            color="grey"
                        ></v-text-field>
                    </v-row>
                    <v-row class="my-0 mx-3">
                        <v-text-field
                            name="currentAddTech"
                            label="Технологический стек"
                            v-model="currentAddTech"
                            color="grey"
                        ></v-text-field>
                    </v-row>
                </v-col>
                <v-col class="d-flex justify-end align-right">
                    <template>
                        <v-carousel v-model="carousel" hide-delimiters height="400px" style="margin-bottom: -10px">
                            <v-carousel-item
                                    v-for="(n, i) in currentProjectImages"
                                    :key="i"
                                    transition="fade-transition"
                            >
                                <v-sheet
                                        height="100%"
                                        tile
                                >
                                    <v-row
                                            class="fill-height"
                                            align="center"
                                            justify="center"
                                    >
                                        <v-img
                                                :src="n.src"
                                                height="100%"></v-img>
                                    </v-row>
                                </v-sheet>
                            </v-carousel-item>
                        </v-carousel>
                    </template>

                </v-col>
            </v-row>
            <v-row class="mx-2 my-1 text-center">

                <v-col class="my-0 mx-3">
                    <v-text-field
                        name="currentAddYear"
                        label="Год:"
                        v-model="currentAddYear"
                        color="grey"
                    ></v-text-field>
                </v-col>
                <v-col class="my-0 mx-3">
                    <v-text-field
                        name="currentAddDepartment"
                        label="Отделение:"
                        v-model="currentAddDepartment"
                        color="grey"
                    ></v-text-field>
                </v-col>
                <v-col class="my-0 mx-3">
                    <v-text-field
                        name="currentAddGroup"
                        label="Группа:"
                        v-model="currentAddGroup"
                        color="grey"
                    ></v-text-field>
                </v-col>
                <v-col class="my-0 mx-3">
                    <v-text-field
                        name="currentAddMark"
                        label="Оценка:"
                        v-model="currentAddMark"
                        color="grey"
                    ></v-text-field>
                </v-col>
            </v-row>
        </v-card>
    </div>
</v-dialog>
