<v-dialog v-model="dialogAuthInstruction" :retain-focus="false" width="700px">
    <div class="d-flex justify-center">
            <v-card width="700px" class="rounded-xl">
                <v-container>

                    <v-row cols="2" justify="center">
                        <v-col cols="10" style="padding-top: 0px; padding-bottom: 0px;">
                            <h3>Для того, чтобы привязать учётную запись к гитлабу ШП, необходимо:</h3>
                        </v-col>
                    </v-row>

            </v-container>
            </v-card>

    </div>



</v-dialog>