<v-dialog v-model="dialogReg" :retain-focus="false" max-width="600px">
    <v-card width="600px" height="500px" color="white">
        <v-container>
            <v-row cols="2" justify="center">
                <v-col cols="10" style="padding-top: 25px; padding-bottom: 0px;">
                <v-text-field
                            filled
                            rounded
                            dense
                            label="Имя пользователя"
                            v-model="userNameReg"
                            color="grey"
                            :rules="rules.value"
                            required
                    ></v-text-field>
                </v-col>
            </v-row>
            <v-row cols="2" justify="center">
                <v-col cols="10" style="padding-top: 0px; padding-bottom: 0px;">
               <v-text-field
                            filled
                            rounded
                            dense
                            label="Почтовый адрес"
                            v-model="emailReg"
                            color="grey"
                            :rules="rules.emailRules"
                            required
                    ></v-text-field>
                </v-col>
            </v-row>
            <v-row cols="2" justify="center">
                <v-col cols="10" style="padding-top: 0px; padding-bottom: 0px;">
                <v-text-field
                            filled
                            rounded
                            dense
                            label="Ваше имя"
                            v-model="firstNameReg"
                            color="grey"
                    ></v-text-field>
                </v-col>
            </v-row>
            <v-row cols="2" justify="center" style="padding-top: 0px; padding-bottom: 0px;">
                <v-col cols="10">
                    <v-text-field
                            filled
                            rounded
                            dense
                            label="Ваша фамилия"
                            v-model="secondNameReg"
                            color="grey"
                    ></v-text-field>
                </v-col>
            </v-row>
            <v-row cols="2" justify="center" >
                <v-col cols="10" style="padding-top: 0px; padding-bottom: 0px;">
                    <v-text-field
                            filled
                            rounded
                            dense
                            label="Пароль"
                            v-model="passwordReg"
                            color="grey"
                            :rules="rules.value"
                            required
                            type="password"
                    ></v-text-field>
                </v-col>
            </v-row>
            <v-row cols="2" justify="center" >
                <v-btn color="primary" :disabled="!registrationFormIsValid" @click="registry()">Зарегистрироваться</v-btn>
            </v-row>
        </v-container>
    </v-card>

</v-dialog>