<v-dialog v-model="dialogLog" :retain-focus="false" width="500px">
    <div class="d-flex justify-center">
            <v-card width="500px" class="rounded-xl">
                <v-container>
                <v-row cols="2" justify="center">
                    <v-col cols="8" style="padding-bottom: 0px; padding-top: 25px">
                        <v-text-field

                            label="Логин"
                            v-model="authorizeLogin"
                            color="grey"
                            filled
                            rounded
                            dense
                            :rules="rules.value"
                            required
                    ></v-text-field>
                        </v-col>
                </v-row>
                <v-row cols="2" justify="center">
                    <v-col cols="8" style="padding-top: 0px; padding-bottom: 0px;">
                        <v-text-field
                                filled
                                rounded
                                dense
                            label="Пароль"
                            v-model="authorizePass"
                            color="grey"
                            :rules="rules.value"
                            required
                            type="password"
                    ></v-text-field>
                    </v-col>
                </v-row>
                    <v-row cols="2" justify="center">
                        <v-btn color="primary" :disabled="!loginFormIsValid">
                            Войти
                        </v-btn>
                    </v-row>
                <v-row cols="2" justify="center">
                    <v-col cols="9">
                        <div @click.stop="" style="margin-left: 10px">
                          У меня нет аккаунта.
                          <a
                            href="#"
                            @click.prevent="dialogLog = false; dialogReg = true;"
                          >Зарегистрироваться</a>
                        </div>
                    </v-col>

                </v-row>
            </v-container>
            </v-card>

    </div>

</v-dialog>