<!DOCTYPE html>
<html xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link href="static/css/main.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">

</head>
<body>
<div id="app">
    <v-app>
        <v-main>
            <template>
                {% include 'dialog-card.html' %}
                {% include 'dialog-adm.html' %}
                {% include 'dialog-login.html' %}
                {% include 'dialog-reg.html' %}
                {% include 'dialog-gitlab-auth.html' %}
                {% include 'dialog-gitlab-auth-instruction.html' %}
                {% include 'dialog-cont-run-notification.html' %}
                <v-parallax dark src="https://informatics.ru/img/intro/intro-inter-progressive.jpg" height="900">
                    <div class="d-flex justify-end">
                        <v-menu v-model="profileMenu">
                            <template v-slot:activator="{ on, attrs }">
                                <v-badge v-show="isAuthorized"
                                    :content=notificationsAmount
                                    :value=notificationsAmount
                                    color="red"
                                    size="5"
                                    bottom
                                    overlap

                                  >
                                    <v-btn v-show="isAuthorized" plain color="white" v-bind="attrs" v-on="on">
                                        Профиль
                                    </v-btn>
                                 </v-badge>
                            </template>
                            <v-card width="300px" height="150px">
                                <v-container>
                                    <v-row cols="2" justify="center" width="300px">
                                        <h2 v-if="isAuthorized" class="font-weight-light text-center">[[currentUser.fields.username]]</h2>
                                    </v-row>
                                    <v-row cols="2" justify="center" width="300px">
                                        <h3 v-if="isAuthorized" class="font-weight-thin text-center">[[currentUser.fields.email]]</h3>
                                    </v-row>
                                    <v-row cols="2" justify="center">
                                        <v-menu v-model="profileNotifications">
                                            <template v-slot:activator="{ on, attrs }">
                                                <v-badge v-show="isAuthorized"
                                                    :content=notificationsAmount
                                                    :value=notificationsAmount
                                                    color="red"
                                                    size="5"
                                                    bottom
                                                     left
                                                    overlap
                                                    dot
                                                     style="margin-bottom: 10px; margin-left: 10px;"
                                                  >
                                                <v-btn class="black--text" style=""  plain @click="dialogNotifications=true; makeRead();" v-bind="attrs" v-on="on">
                                                    Уведомления
                                                </v-btn>
                                                </v-badge>
                                            </template>
                                            <v-list>
                                                <v-list-item
                                                        v-for="(item, i) in notificationsList"
                                                >
                                                    <v-row align="center" justify="center">
                                                        <div style='display: inline-block'>
                                                            <h4 class="font-weight-thin mr-2">[[ item.fields.send_time ]]</h4>
                                                        </div>
                                                        <div style='display: inline-block'>
                                                            <h4 class="font-weight-thin">[[ item.fields.message ]]</h4>
                                                        </div>
                                                    </v-row>
                                                </v-list-item>
                                            </v-list>
                                        </v-menu>
                                    </v-row>
                                    <v-row cols="2" justify="center">
                                            <v-btn class="black--text" style="" plain  @click="dialogGitlabAuth=true" width="300px" v-show="!isGitlabConnected">
                                                Привязать аккаунт к gitlab
                                            </v-btn>
                                            <h5 v-show="isGitlabConnected" class="font-weight-thin" width="300px">Ваша учётная запись связана с гитлабом</h5>
                                    </v-row>
                                </v-container>
                            </v-card>
                        </v-menu>
                        <v-menu v-model="addMenu">
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn plain color="white" v-show="isAuthorized" v-bind="attrs" v-on="on" @click="projectsLoad()">
                                    Загрузить проект
                                </v-btn>
                            </template>
                            <form method="post">
                                {% csrf_token %}
                                <v-list>
                                    <v-list-item
                                            v-for="(item, i) in userProjects"
                                            :key="i"
                                            @click="updateCurrentAddData(i); isCardModeratable = true"
                                            @click.stop="showDialog"
                                    >
                                        <v-row align="center" justify="center">
                                            <div style='display: inline-block'>
                                                <h4 class="font-weight-thin mr-2">[[ item.name ]]</h4>
                                            </div>
                                            <div style='display: inline-block'>
                                                <h4 class="font-weight-thin">[[ item.load_date ]]</h4>
                                            </div>
                                        </v-row>
                                    </v-list-item>
                                </v-list>
                            </form>
                        </v-menu>
                        <form method="post">
                            {% csrf_token %}
                            <v-btn plain color="white" @click="dialogLog=true" v-show="!isAuthorized">
                                Зарегистрироваться/Войти
                            </v-btn>
                            <v-btn plain color="white" @click="unauth()" v-show="isAuthorized">
                                Выйти
                            </v-btn>
                        </form>
                        <v-btn v-if="isAdministrator==true"plain color="white" @click="dialogAdm=true; updateAdminList()">
                            Открыть панель администратора
                        </v-btn>

                    </div>
                    <v-row align="center" justify="center">
                        <v-card class="d-flex pa-1" color="rgba(255, 255, 255, 0.8)">
                            <v-card-title primary-title class="justify-center">

                                <h3 align=center class="text-h3 font-weight-thin mb-1" style="font-size:10px">
                                    Сайт проектов курса "Промышленное программирование"
                                </h3>

                            </v-card-title>
                        </v-card>
                    </v-row>
                </v-parallax>
                <v-container>
                    <v-row align="center" justify="center">
                        <v-col class="text-center" cols="12">
                            <h1 class="text-h3 font-weight-thin mb-4" style="margin-top: 25px">
                                Последние проекты:
                            </h1>
                        </v-col>
                    </v-row>
                </v-container>
            </template>

            <v-carousel height="700px" hide-delimiters style="margin-bottom: -20px; margin-top: 40px"
                        :cycle="false">
                <template v-slot:prev="{ on, attrs }">
                    <v-btn
                            color="grey lighten-4"
                            v-bind="attrs"
                            v-on="on"
                            @click="carouselPrev"
                            fab
                    >
                        <img src="https://fonts.gstatic.com/s/i/materialicons/chevron_left/v16/24px.svg"/>
                    </v-btn>
                </template>
                <template v-slot:next="{ on, attrs }">
                    <v-btn
                            color="grey lighten-4"
                            v-bind="attrs"
                            v-on="on"
                            @click="carouselNext"
                            fab
                    >
                        <img src="https://fonts.gstatic.com/s/i/materialicons/chevron_right/v16/24px.svg"/>
                    </v-btn>
                </template>
                <v-carousel-item
                        v-for="(item, i) in recentProjects"
                        :key=i

                >
                    {% include 'card.html' %}
                </v-carousel-item>
            </v-carousel>
            <div class="d-flex justify-end">
                <v-btn style="margin-right: 17%; margin-top: 5%; height: " @click="showFilter">
                    <v-icon>
                        mdi-card-search
                    </v-icon>
                </v-btn>
            </div>
            <div class="d-flex justify-center" style="margin-bottom: -40px">
                <div
                        v-if="filterShow"
                        class="grey lighten-5 px-3 pt-3 pb-3 rounded-lg"
                        style="width: 1000px; margin-top: 50px">
                    <v-row class="my-0 mx-3">
                        <v-text-field
                                name="name"
                                label="Поисковой запрос"
                                v-model="searchText"
                                color="grey"
                        ></v-text-field>
                    </v-row>
                    <v-row class="ma-0">
                        <v-col>
                            <v-select
                                    color="grey"
                                    name="year"
                                    :items="yearItems"
                                    item-text="text"
                                    item-value="value"
                                    label="Год"
                                    v-model="selectedYear"
                            ></v-select>
                        </v-col>
                        <v-col>
                            <v-select
                                    color="grey"
                                    name="department"
                                    :items="departmentItems"
                                    label="Филиал"
                                    v-model="selectedDepartment"
                            ></v-select>
                        </v-col>
                        <v-col>
                            <v-select
                                    color="grey"
                                    name="author"
                                    :items="authorItems"
                                    label="Группа"
                                    v-model="selectedAuthor"
                            ></v-select>
                        </v-col>
                        <v-col>
                            <v-select
                                    color="grey"
                                    name="mark"
                                    :items="markItems"
                                    label="Полученная оценка"
                                    v-model="selectedMark"
                            ></v-select>
                        </v-col>
                    </v-row>
                    <v-row class="my-0 mr-0 ml-3">
                        <v-btn @click='filter'>Найти</v-btn>
                    </v-row>
                </div>
            </div>
            <br>
            <br>
            <br>
                <v-card class="mx-auto" max-width="70%">
                    <v-card class="mx-auto rounded-0" v-for="(item, i) in items" :key="i" @click.stop="showDialog" @click="updateCurrentData(item); isCardModeratable=false">
                        <v-container fill-height fluid>
                            <v-row>
                                <v-col cols="5">
                                    <v-container fill-height fluid>
                                        <v-row>
                                            <v-col cols="4">
                                                <v-img  :src="item.icon"></v-img>
                                            </v-col>
                                            <v-col cols="8">
                                                <h1 class="text-h3 font-weight-thin">[[item.name]]</h1>
                                                <h3 class="text-h5 font-weight-thin">todo: tags should be here</h3>
                                            </v-col>
                                        </v-row>
                                    </v-container>
                                </v-col>
                                    <v-col cols="2">
                                        <v-container fill-height fluid>
                                            <v-card style="width:fit-content; height: fit-content;" :color=markColors[item.mark]>
                                                    <v-card-title justify="center" align="center" class="text-h4 font-weight white--text">[[item.mark]]</v-card-title>
                                            </v-card>
                                        </v-container>
                                    </v-col>
                                <v-col>
                                </v-col>
                            </v-row>
                        </v-container>
                    </v-card>
                     <v-btn elevation="2" @click="update">Показать ещё</v-btn>
                </v-card>

            <br>
            <br>
            <br>
            <template>
  <v-footer
    dark
    padless
  >
    <v-card
      flat
      tile
      class="grey lighten-5 white--text text-center"
    >
      <v-card-text class="black--text pt-0">
        Phasellus feugiat arcu sapien, et iaculis ipsum elementum sit amet. Mauris cursus commodo interdum. Praesent ut risus eget metus luctus accumsan id ultrices nunc. Sed at orci sed massa consectetur dignissim a sit amet dui. Duis commodo vitae velit et faucibus. Morbi vehicula lacinia malesuada. Nulla placerat augue vel ipsum ultrices, cursus iaculis dui sollicitudin. Vestibulum eu ipsum vel diam elementum tempor vel ut orci. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      </v-card-text>

    </v-card>
  </v-footer>
</template>
        </v-main>

    </v-app>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js" integrity="sha512-szJ5FSo9hEmXXe7b5AUVtn/WnL8a5VofnFeYC2i2z03uS2LhAch7ewNLbl5flsEmTTimMN0enBZg/3sQ+YOSzQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/static/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js" integrity="sha512-wT7uPE7tOP6w4o28u1DN775jYjHQApdBnib5Pho4RB0Pgd9y7eSkAV1BTqQydupYDB9GBhTcQQzyNMPMV3cAew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>
